{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'portale/css/style.css' %}">
</head>
<body>
    {% include "portale/includes/header.html" %}
    {% include "portale/includes/main.html" %}
    {% include "portale/includes/footer.html" %}
</body>
<script src="{% static 'portale/js/chart.min.js' %}"></script>
<script src="{% static 'portale/js/chartjs-plugin-zoom.min.js' %}"></script>
<script src="{% static 'portale/js/charts.js' %}"></script>
<script src="{% static 'portale/js/toggle_sidebar.js' %}"></script>
</html>
