<!-- 403 forbidden error page  -->
{% extends "portale/base.html" %}
{% load static %}
{% block title %}403 Forbidden{% endblock %}
{% block body_class %}error-page{% endblock %}

{% block content %}
    <section class="error-wrapper">
        <div class="error-illustration">
            <img src="{% static 'portale/images/Otters-swimming-bro.svg' %}" alt="Illustrazione" class="error-illustration-img" />
        </div>
        <div class="error-content">
            <h2>Accesso negato.</h2>
            <p>Non hai i permessi necessari per visualizzare questa pagina. Torna alla <a href="{% url 'home' %}">home</a>.</p>
            
        </div>
    </section>
{% endblock%}
